.pokemon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var(--accent-color);

  width: 250px;
  max-width: 80%;
  margin: 0 auto 30px;
  padding: 25px 10px;

  font-size: x-large;
  font-weight: 800;

  border: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 15px;

  button {
    border: none;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #6a6a6a;
    top: 4px;
    right: 4px;
    &.add,
    &.remove {
      visibility: visible;
      opacity: 1;
      &::after {
        display: block;
        color: white;
        font-size: 20px;
      }
    }
    &.add {
      &:after {
        content: "+";
      }
    }
    &.remove {
      &:after {
        content: "-";
      }
    }
  }
}
.info-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  img {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 768px) {
  .pokemon-item {
    width: 230px;
  }
}

@media (min-width: 992px) {
  .pokemon-item {
    width: 250px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeout {
  animation-name: fadeOut;
  animation-duration: 500ms;
}
