p.empty-message {
  text-align: center;
  margin: 50px auto;
  font-size: 23px;
  line-height: normal;
}

.btn {
  width: 118px;
  height: 40px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  margin: 4px;
  &.clear__button {
    background-color: var(--accent-color);
    margin: 2rem;
  }
  &.confirm {
    background-color: var(--accent-color);
  }
  &.cancel {
    background-color: red;
  }
}
