/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  color: black;
}

:root {
  --accent-color: #034b5091;
}

.header__container {
  mat-list-item.header__item .mat-list-item-content {
    justify-content: center;
  }
}
.pokemon-list {
  &-container {
    display: flex;
    flex-direction: column;
    max-height: 426px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &-title {
    font-size: x-large;
    margin: 2rem;
  }
}

.cart-dialog-container .mat-dialog-container {
  background: white;
  color: #6a6a6a;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .pokemon-list {
    &-container {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      max-height: 735px;
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      margin: auto;
    }
  }
}
@media (min-width: 992px) {
  .pokemon-list {
    &-container {
      max-height: none;
      overflow: hidden;
    }
  }
}
