/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  color: black;
}

:root {
  --accent-color: #034b5091;
}

.header__container {
  mat-list-item.header__item .mat-list-item-content {
    justify-content: center;
  }
}
.pokemon-list {
  &-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  &-title {
    font-size: x-large;
    margin: 2rem;
  }
}
